<% provide(:title, "About") %>

<h1>About Rails Hangman</h1>
<h2>Overview</h2>
<p>An implementation of Hangman in Ruby on Rails, a (traditionally) paper and
  pencil guessing game for two or more players where one player thinks of a word
  and the other tries to guess it by suggesting letters, within a certain number
  of guesses.</p>
<p>This version of Hangman allows players to create their own games of Hangman
  by either generating a random word, or by submitting a custom word that is to
  be guessed.</p>

<h2>Author</h2>
<p>You can check out my profile and the source code on <a href="https://github.com/NoodleChump/devtrain-rails-hangman">GitHub</a>.</p>

<h2>Motivation</h2>
<p>Rails Hangman was created as a project while on the DevTrain training team at
  Powershop.</p>

<h2>License</h2>
<h3>The MIT License (MIT)</h3>

<p>Copyright (c) 2016 Powershop</p>

<p>Permission is hereby granted, free of charge, to any person obtaining a copy
of this software and associated documentation files (the "Software"), to deal
in the Software without restriction, including without limitation the rights
to use, copy, modify, merge, publish, distribute, sublicense, and/or sell
copies of the Software, and to permit persons to whom the Software is
furnished to do so, subject to the following conditions:</p>

<p>The above copyright notice and this permission notice shall be included in all
copies or substantial portions of the Software.</p>

<p>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR
IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY,
FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE
AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER
LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM,
OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE
SOFTWARE.</p>
