<h1>Rails Hangman</h1>
<h2>Welcome to Hangman!</h2>

<%= button_to 'Create New Player', new_player_path, {:class => "btn btn-primary", :method => :get} %>
<br />
<%= button_to 'Create New Game', new_game_path, {:class => "btn btn-primary", :method => :get} %>
