$('.notification').remove();

if (<%= @notifications.length == 0 %>) {
  $("#notifications").prepend("<li class='notification'><a href='#'>No Notifications</a></li>");
} else {
  $('#notifications').prepend("<%=raw escape_javascript(render(@notifications)) %>");
}

$("#notifications-toggle").removeClass("unread");
if (<%= @unread_notifications > 0 %>) {
  $("#notifications-toggle").addClass("unread");
}
