<li class="notification" data-id="<%= completed_game_notification.id %>" <%= 'class=unread' if !completed_game_notification.read? %>>
  <%= link_to completed_game_notification.description, notification_path(completed_game_notification) %>
</li>
