@import "bootstrap";
@import "bootstrap-sprockets";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;
$gray-medium-dark: #545454;
$blue: #428bca;


/* universal */

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

.user_heading {
  margin-left: auto;
  margin-right: auto;
}

.gravatar {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.gravatar_edit {
  margin-left: auto;
  margin-right: auto;
  display: block;
  text-align: center;
}

#stats {
  width: 100%;
  max-width: 30em;
  margin-left: auto;
  margin-right: auto;
  th:hover {
    transition: background-color 0.25s ease;
    background-color: rgba(0, 0, 0, 0.04);
  }
}

th a {
  color: inherit;
}

.right-aligned {
  align-content: right;
  text-align: right;
}

a {
  transition: color 0.25s ease;
}
a:hover {
  text-decoration: none;
}

tr:hover td {
  transition: background-color 0.25s ease;
}

form {
  margin: auto;
  max-width: 30em;
}

#error_explanation {
  li {
    list-style-type: none;
    font-size: 1em;
    font-weight: normal;
    color: #dd0000;
  }
}

.custom-word-field {
  transition: max-height 0.25s, opacity 0.25s ease-in;
  max-height: 0;
  opacity: 0;
  overflow: hidden;
}

.custom-word-checkbox {
  width: 20px;
}

.custom-word-checkbox-label {
  flex-grow: 0;
  flex-shrink: 0;
  float: left;
}

.custom-word {
  display: flex;
  flex-wrap: nowrap;
}

.notransition {
  transition: none !important;
}

#hangman-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}


/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.5em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-medium-dark;
}

h3 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 20px;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}


/* header */

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

.nav li a {
  transition: color 0.25s ease;
}

#guesses {
  margin-left: auto;
  margin-right: auto;

  list-style-type: none;
  padding-left: 0;
  padding-right: 0;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

.guess {
  display: inline-block;
  li {
    text-decoration: none;
    font-size: 1.5em;
    text-align: center;
    font-weight: normal;
    color: $gray-medium-dark;
    display: inline-block;
    margin-left: 0.25em;
    margin-right: 0.25em;
  }
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}


@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}


/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}


/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.btn {
  transition: background-color 0.25s ease;
  max-width: 30em;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.btn-secondary {
  color: $blue;
  background-color: #fff;
  border-color: #ddd;
  &:hover {
    color: $blue;
    background-color: #eee;
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

.unread {
  background: url('bullet.png') center right no-repeat;
  background-size: 8px;
  background-position: 98%, 50%;
}
