<% if item.errors.any? %>
  <div id="error_explanation">
    <h2>There <%= item.errors.count == 1 ? 'was an error' : 'were ' + pluralize(item.errors.count, "error") %> stopping the <%= item.class.name.downcase %> from being made:</h2>
    <ul>
    <% item.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
    </ul>
  </div>
<% end %>
