<footer class="footer">
  <small>
    <a href="http://github.com/NoodleChump/devtrain-rails-hangman">Rails Hangman</a>
    by <a href="http://github.com/NoodleChump">Jordane Lew</a>
  </small>
</footer>
