<li class="notification<%= ' unread' if !new_game_notification.read? %>" data-id="<%= new_game_notification.id %>">
  <%= link_to new_game_notification.description, notification_path(new_game_notification) %>
</li>
